#year, #course, #Branch {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
#Submit {
    width: 100%;
    background-color: #2f92a3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
#Submit:hover {
    background-color: #45a09b;
  }
 .CourseSelectionForm {
    width: 25%;
    height: 100%;
    border: solid 2px #000000;
    border-radius: 10px;
    background-color: hsl(0, 0%, 95%);
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 80px;
    /* width: 100%; */
  }
  