@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');



#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgb(106, 196, 226);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 30vh;
	width: 100vh;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 3vh;
	height: 100%;
	float: left;
	width: 60%;
}

#container .product-details h1 {
	font-family: 'Bebas Neue', cursive;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 30px;
	color: #344055;
	margin: 0;
	text-align: center;
  }
  

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;
	

}

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.cardbtn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 25;
    margin-right: 15;
	
}
.cardbtn + .cardbtn {
    margin-left: 10px; /* Adjust the value as needed for the desired spacing */
  }

.cardbtn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.cardbtn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}

