/* The sidebar menu */
/* .sidenav {
  height: 100%;
  width: 15%; 
  position: fixed; 
  z-index: 1;
  top: 0; /
  left: 0;
  background-color: #000000;
  overflow-x: hidden; 
  padding-top: 20px;
} 
*/

/* The navigation menu links */
/* .sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration:underline;
  font-size: 30px;
  color: #cfcfcf;
  display: block;
} */

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color: #f1f1f1;
} */
/* NavbarStyle.css */
.sidenav {
  height: 100%;
  width: 14%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #10898b;
  padding-top: 20px;
  padding-right: 10px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.7em;
}

.sidenav a {
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  width: 90%;
  color: #fff;
  display: block;
  transition: 0.3s;
  border-radius: 15px;
  
}

.sidenav a:hover {
  background-color:#0d494a;
}

.logo img {
  width: 40px; 
  height: 40px;/* Adjust the logo size as needed */
  margin-bottom: 20px;
  border-radius: 3px;
}
.logo{
  display: flex;

}
.logo h2{
  color: #fff;
margin-left:10px ;
font-family: sans-serif;
}

/* You can add additional styling as per your design preferences */
