.footer {
    position: fixed;
    bottom: 0;
    background-color: #03427eaf;
    padding: 0px;
    color:white;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    margin: 10px;
  }
  
  
  @media screen and (max-width: 720px) {
    .sub {
      flex-direction: column;
    }
  }
  