
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@600&family=Ysabeau+Office:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Playfair+Display:wght@600&family=Ysabeau+Office:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #94eaf3;
  /* background: radial-gradient(at top right, rgb(41, 139, 120), rgba(41, 139, 120, 1) 0%, rgba(79, 122, 134, 1) 50%, rgba(3, 155, 173, 1) 100%); */
  
}


.login-container{
  width: 80%;
  margin: auto;
  margin-top: 4em;
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px -5px 5px grey;
  border-bottom: 3px solid grey ;
  border-left: 3px solid grey ;
  padding: 1.8em 1em;
  margin-left: 1%;
}
.form-pre{
  width: 50%;
  padding: 1em;
  
}
.form-pre p{
  width: 80%;
  margin: auto;
  margin-top: 0.3em;
}
.form-pre .image{
  width: 70%;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  border-top: 2px solid grey ;
  border-left: 2px solid grey ;
  margin-bottom: 0.4em;
}
.form-pre .content{
  text-align: center;
}
.form-pre .content h3{
  font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display';
font-family: 'Ysabeau Office', sans-serif;
font-weight: 700;
}
.loginForm{
  width: 50%;
  padding: 1.5em;
}

.form-container {
  width: 50%;
  padding: 1em;
  
  
}
.form-container h1 {
  font-family: 'Dancing Script', cursive;
font-family: 'Lobster', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ysabeau Office', sans-serif;
  padding-top: 1.5em;
  margin-bottom: 20px;
  font-size: 2.2rem;
 color: #333;
 text-align: center;
 font-weight: 800;
  
} 
.form-container h2 {
  font-size: 1.3rem;
  margin-bottom: 40px;
  color: #484545;
  text-align: center;
  
}
.form-container h2 hr{
  width: 40%;
  margin: 10px auto;
  color: black;
  border: 1.2px solid black;
}
.form-group {
  margin-bottom: 20px;
  
}
 #showPassword {
  display: block;
  margin-top: 5px;
  cursor: pointer;
  color: #488283; /* Change color to your preference */
  padding: 0.3em 0;
  font-weight: 600;
  
}
.form-container input {
  width: 90%;
  max-width: 300px;
  padding: 0.4em;
  margin: auto;
  border: 2px solid #488283;
  border-radius: 15px;
  font-size: 16px;
  
}
.form-container button {
  background-color: #488283; 
  color: #fff; 
  border: none;
  border-radius: 8px;
  padding: 0.5em 0.8em ;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  margin-left: 30%;
}
#loginForm{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 23%;
  padding-bottom: 2.2em;
  border-bottom: 2px solid grey ;
  border-right: 2px solid grey ;
  border-bottom-left-radius:60px ;
  border-bottom-right-radius:32px ;
  /* border-top-right-radius: 5px; */
}
#needhelp{
  text-decoration: none;
  color:#488283;
 width: fit-content;
  padding-bottom: 0.2em;
  margin-left: 0.2em;
  margin-top: 1.5em;
  text-align: center;
  
}
#needhelp span{
  font-size: 1.05rem;
}
#needhelp:hover{
  border-bottom: 1px solid #185a67;
}

@media (max-width:950px) {
  .form-pre{
    display: none;
  }
  .form-container{
    width: 100%;
    
  }
  #loginForm{
    padding-left: 0;
    border-bottom-left-radius: 20px;
  }
  
}
